<h3>Welcome to Daltonn App!</h3>
<p>Hello <%= @user.username %>,</p>
<p>Your account has been created successfully. Here are your credentials:</p>
<ul>
  <li><strong>Username:</strong> <%= @user.username %></li>
  <li><strong>Password:</strong> <%= @entered_password %></li>
</ul>
<p>Thank you!</p>
