$primary-color: #fdd835;
$sidebar-width: 300px;
// Sass variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:

// Active Admin's got SASS!
@import "arctic_admin/base";


// Overriding any non-variable Sass must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }



//sidebar

.header-item#tabs .menu_item a {
  color: #000 !important;
  border-radius: 10px;
}

.header-item.tabs .menu_item a:hover {
  background-color: #fdd83569 !important;
  color: #000;
}

.header-item.tabs .menu_item.current a {
  background-color: #fdd835;
}

//footer

.footer {
  display: none;
}
